a {
    color: purple;
}

a.menu-list {
    color: green;
}

ul.berries{
    list-style: square;
}

.vegetables{
    list-style-image: url("check.png");
}

ul li ul {
    list-style: none;
}

.berries a {
    text-decoration: none;
}

.number-marker {
    list-style: decimal;
}